<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheDirectory="build/.phpunit.cache" bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Temant Settings Manager Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <clover outputFile="build/coverage/clover.xml" />
            <html outputDirectory="build/coverage/html" />
        </report>
    </coverage>    

    <source>
        <include>
            <directory suffix=".php">./Src</directory>
        </include>
    </source>
</phpunit>